ServerAliveInterval 30
ServerAliveCountMax 10
TCPKeepAlive no
ForwardAgent yes

IdentityFile ~/.ssh/id_rsa

Host 10.*
    User ec2-user
    IdentityFile ~/.ssh/colourboxfirst.pem
    ProxyJump jesper@beta.colourbox.com
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host *.compute.amazonaws.com
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host beta
    HostName beta.colourbox.com
    User jesper
